div{
    background: linear-gradient(to top, #87CEFA 10%, #ADD8E6 50%, #E0FFFF 100%);
    font-size: 14px;
    padding: 5px 10px;
    color: black;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: large;
    width: 350px;
    margin: auto;
}
.but{
    height: 40px;
    width: 200px;
    background: linear-gradient(to top, #87CEFA 10%, #ADD8E6 50%, #E0FFFF 100%);
    font-size: 14px; /* Размер шрифта */
    padding: 10px 20px; /* Поля вокруг текста */
    color: black; /* Цвет текста */
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 5px; /* Радиус скругления */
}
body{
    text-align: center;
    background-color: lavender;
}

table{
    margin: auto;
}